[Unit]
Description=Kiacha mDNS Announcer
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/avahi-daemon --no-chroot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
